@import "tailwindcss";

@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Noto+Serif:ital,wght@0,100..900;1,100..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

body {
  /* background-color: 1E1E1E; */
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}

/* Navbar Styles */
nav ul li {
  list-style: none;
}
.nav-li-2-3 {
  color: rgba(0, 0, 0, 0.5);
}

/* Banner Section Styles */
.banner-section h1 {
  font-size: 4rem;
  font-weight: 700;
}
.banner-h1 {
  color: rgba(233, 90, 8, 1);
}
.banner-section div p{
    font-weight: 400;
    font-size: 1.35rem;
}

/* shared styles */
.noto-serif-font {
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}
.inter-normal {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
.raleway-primary {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
.text-color{
    color: rgba(0, 0, 0, 0.5);
}
.button{
    background-color: rgba(233, 90, 8, 1);
    color: #FFFFFF;
    border: none;
    padding: 1.1875rem 5rem;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
}
.button:hover{
    background-color: rgb(170, 225, 60);
    transform: scale(1.05);
}

/* Our Plants Styles */
/* .grid{
    display: grid;
    grid-template-columns: repeat(4,1fr);
} */
.card{
    width: 16.875rem;
    height: 30.3rem;
    text-align: center;
}
.card-img{
    width: 100%;
    height: 20.125rem;
}


/* Responsive Styles */
@media screen and (max-width: 576px) {
  .hide-li-in-mobile {
    display: none;
  }
  .banner-section{
    flex-direction: column-reverse;
    h1{
        font-size: 1.5rem;
    }
    img{
        margin-bottom: 1.75rem;
    }
  }
  .banner-title-div{
    padding: 0 1rem;
    br{display: none;
    }
  }
  /* .grid{
    grid-template-columns: repeat(2,1fr);
    gap: 0.625rem;
  } */
  .card{
    width: 10.6875rem;
    height: 21.28125rem;
    .card-img{
        width: 10.6875rem;
        height: 12.28125rem;
    }
    .button{
        width: 10.6875rem;
        height: 3.125rem;
        padding: 1rem 1rem;
    }
}
}

/* @media screen and (min-width:1024px) {
    .grid{
    grid-template-columns: repeat(4,1fr);
}
} */
